= form_for(car) do |f|
  - if car.errors.any?
    #error_explanation
      %h2
        = pluralize(car.errors.count, "error")
        prohibited this car from being saved:
      %ul
        - car.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :brand
    = f.text_field :brand
  .actions
    = f.submit
