%p#notice= notice
%h1 See the console

%p Your @variables variable:
%code @variables =&gt; { "first_name":"bob" }
%br/
- @variables = { "first_name":"bob" }
%br/
= content_tag :div, '@variables', data: {filter: @variables}
%br/
%a.hitme{:href => "#"} See filter variables "stringified"
%br/
%br/
.filters

:javascript
  let filters = $('[data-filter]').data('filter')
  console.log(filters)
  $('.hitme').click((e) => {
    e.preventDefault()
    $('.filters').html(JSON.stringify(filters))
  })
  